<div class="container">
    <ul>
        <li>
            <span class="material-icons">
                home
            </span>
            Home
        </li>
        <li>
            <span class="material-icons">
                shopping_cart
            </span>
            Vendas
        </li>
        <li>
            <span class="material-icons">
                grid_view
            </span>
            Estoque
        </li>
        <li>
            <span class="material-icons">
                settings
            </span>
            Configurações
        </li>
    </ul>
</div>
