<mat-tab-group class="main" mat-align-tabs="start">
    <mat-tab label="Parcial">

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                </p>
            </mat-card-content>
            <mat-card-actions class="card_buttons">
                <button mat-fab color="red" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-fab color="black" aria-label="Example icon button with a bookmark icon">
                    <mat-icon>bookmark</mat-icon>
                  </button>
            </mat-card-actions>
        </mat-card>

    </mat-tab>
    <mat-tab label="Vendas">

        <app-mesa></app-mesa>


    </mat-tab>
    <mat-tab label="Estoque">Content 3</mat-tab>
    <mat-tab label="Configurações">Content 3</mat-tab>
</mat-tab-group>