.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .grid-container {
    display: inline-flexbox;
  }

  .tab-title {
    color: rgb(142, 212, 139);
  }