.example-card {
    max-width: 200px;
    margin-top: 15px;
    background-color: rgb(235, 189, 106);
    box-shadow: 0px 8px 15px 5px rgb(80, 80, 80);
    margin-bottom: 50px;
    margin-left: 20px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30vh 50vh;
    grid-template-areas: "header header"
                        "sidebar main"
                        "footer footer";
  }

  table {
    width: 100%;
  }

  .main {
    padding: 15px;;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .grid-container {
    display: inline-flexbox;
  }

  .tab-title {
    color: rgb(142, 212, 139);
  }

  .card_buttons {
    
  }