
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "header header"
                        "sidebar main"
                        "footer footer";
    font-family:;
}

app-header {
    grid-area: header;

}

app-sidebar {
    grid-area: sidebar;
    min-width: 300px;
    height: 100%;
    border-right: solid 1px #c9c9c9;
    box-shadow: 5px 1px 5px rgb(80, 80, 80);

}

app-main {
    grid-area: main;
}

app-footer {
    grid-area: footer;
    
}